.categoryDisplay__div--section {
  display: flex;
  flex-flow: wrap;
  max-height: 800px;
  margin: 0 10%; /* Adjustment for the gutter */
  width: 100%;
  // display: flex;
  // flex-flow: row wrap;
  // justify-content: center;
  // margin: 20px;
}