$themeColor: #F24C2C;
$secondaryShade: #36454f;
$bodyFont: 'Roboto Condensed';

.recipeCard__div {
  color: $secondaryShade;
  font-family: $bodyFont;
  font-size: 35px;
  display: inline-block;
  margin: .5em;
  max-width: 300px;
    h4 {
      margin: .25em 0;
      transform: translateY(121%);
      background-color:rgba(255,255,255, 0.75)
    }
}