$themeColor: #F24C2C;
$secondaryShade: #36454f;

.recipeCard__div {
  color: $secondaryShade;
  border: 1px pink solid;
  font-family: 'Nanum Pen Script';
  font-size: 40px;
  display: inline-block;
  margin: .5em;
    h4 {
      margin: .25em .5em;
    }
}