$themeColor: #F24C2C;
$secondaryShade: #36454f;
$bodyFont: 'Roboto Condensed';

.header {
  color: $secondaryShade;
}

.header__div--title {
  display: flex;
  font-family: 'Nanum Pen Script';
  font-size: 60px;
  justify-content: space-between;
  span {
    color: $themeColor;
  }
  h1 {
    margin: .5em .5em .05em .5em;
  }
  h3 {
    margin: .75em 1.5em .5em .75em;
    transform: translateY(30%)
  }
}

.header__nav--ul {
  background-color: $secondaryShade;
  display: flex;
  font-family: $bodyFont;
  font-size: 1.75em;
  justify-content: space-evenly;
  list-style-type: none;
  margin: .5em 0; 
  padding: .25em;
}

.header__div--title-link {
  text-decoration: none;
}
.header__div--title-link:visited {
  color: $secondaryShade;
    }

.routerLink {
  color: whitesmoke;
  text-decoration: none;
  :hover {
    color: $themeColor;
  }
}